.loginScreen {
  position: relative;
  height: 100%;
  background: url("../../assets/NetflixLoginBackground.jpg") center no-repeat;
  background-size: cover;
}

.loginScreen-logo {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 150px;
  object-fit: contain;
  cursor: pointer;
}

.loginScreen-signIn {
  position: fixed;
  right: 15px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  outline: none;
}

.loginScreen-gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen-body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}

.loginScreen-body h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen-body h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen-body h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen-input {
  margin: 20px;
}

.loginScreen-input form input {
  padding: 10px;
  outline: none;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen-getStarted {
  padding-top: 15.5px;
  padding-bottom: 16.7px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
